<link rel="stylesheet" href="/css/addProfile/addProfile.css" />

<div id="add-profile-page">
	<form class="add-profile-ctn">
		<p class="add-profile-ctn__title">
			Khảo sát thông tin học sinh
		</p>

		<div class="add-profile-ctn__banner">
			<img src="/img/add-profile-banner.svg" alt="" />
		</div>

		<div class="add-profile-ctn__body">
			<label class="body__introduce-id">
				<p>Mã giới thiệu</p>
				<input
					name="introduce-id"
					type="text"
					placeholder="Mã giới thiệu được GV cung cấp..."
				/>
			</label>

			<label class="body__name">
				<p>Họ và tên</p>
				<input
					name="name"
					type="text"
					placeholder="Nhập họ và tên..."
				/>
			</label>

			<label class="body__class">
				<p>Lớp học</p>
				<input name="class" type="text" placeholder="Bạn học lớp..." />
			</label>

			<label class="body__index">
				<p>Số thứ tự</p>
				<input
					name="index"
					type="text"
					placeholder="Số thứ tự của bạn trong Danh sách lớp..."
				/>
			</label>

			<label class="body__group">
				<p>Thuộc nhóm</p>
				<input
					name="group"
					type="text"
					placeholder="Bạn thuộc nhóm(tổ) mấy..."
				/>
			</label>

			<label class="body__meet-name">
				<p>Tên Google meet</p>
				<input
					name="meet-name"
					type="text"
					placeholder="Tên tài khoản hiển thị trong lúc học Google Meet (VD: 08.Còn-12A12)..."
				/>
			</label>

			<label class="body__gmail">
				<p>Địa chỉ Gmail dùng để học</p>
				<input
					name="gmail"
					type="text"
					placeholder="Địa chỉ Gmail của tài khoản bạn thường dùng để học trên Google Meet..."
				/>
			</label>

			<button type="button">
				<p>Gửi</p>
			</button>
		</div>
	</form>
</div>